<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>


  window.carouselOne = "<%=image_url('front_page/bunny1.jpg')%>"
  window.carouselTwo = "<%=image_url('front_page/deer_and_rabbit.jpg')%>"
  window.carouselThree = "<%=image_url('front_page/download.jpg')%>"
  window.carouselFour = "<%=image_url('front_page/rabbit-1011.jpg')%>"

</script>
<main id="root"></main>
